*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#f4f7fb;

}



.sidebar{

position:fixed;
width:250px;
height:100vh;
background:#0066cc;
padding:25px;

}



.sidebar h2{

color:white;
margin-bottom:30px;

}



.sidebar a{

display:block;
color:white;
text-decoration:none;
padding:15px;
border-radius:10px;

}



.sidebar a:hover{

background:#004999;

}




.content{

margin-left:250px;
padding:40px;

}



.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:30px;

}



.card{

background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px #ddd;

}


.card h2{

font-size:40px;
color:#0066cc;

}